# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
 - List popular languages for Data Science
 - Some of the commonly used libraries used by Data Scientists include
 - Commonly used libraries by Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Spark

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. ggplot
3. num_py
4. goggly

| --- |
| Data Science Tools |
| --- |
| Python | 
| R |
| Scala |

### Below are a few examples of evaluating arithmetic expressions in Python.
x = 10
y = 20
z = y - x
Print(z)

In [19]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [21]:
#This will convert 200 minutes to hours by diving by 60.
200 / 60

3.3333333333333335

## Author
Jose I Saenz